{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    模型工坊 
    <small>修改模型参数以调整模型</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
    <li class="active">Custom</li>
  </ol>
</section>

<section class="content">
  <!-- add your content here -->
  <div class="nav-tabs-custom">
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs pull-right">
        <!-- 定义为选项卡 -->
          <li ><a href="#tab1" data-toggle="tab">模型视图</a></li>
          <li class="active"><a href="#tab2" data-toggle="tab">模型参数</a></li>
          <li class="pull-left header"><i class="fa fa-inbox"></i> 模型</li>
      </ul>
      <div class="tab-content no-padding">
          <!-- Morris chart - Sales -->
          <!-- <div class="chart tab-pane " id="revenue-chart" style="position: relative; "></div>
          <div class="chart tab-pane active" id="sales-chart" style="position: relative;"></div> -->
          <div class="tab-pane active" id="tab1" style="position: relative; ">
              {% include 'admin/model/edit.html' %}
          </div>
          <div class="tab-pane" id="tab2" style="position: relative; ">
              {% include 'admin/model/edit.html' %}
          </div>
      </div>
  </div>    

</section>
<!-- /.content -->
{% else %}

<center>
  <section class="content" style="color: white">
    <div class="col-sm-12">
      <h1>Flask-Admin example</h1>
      <p class="lead">
        Authentication
      </p>
      <p>
        This example shows how you can use Flask-Admin in an admin template, <br> here I used AdminLTE and <a href="https://pythonhosted.org/Flask-Security/index.html" target="_blank">Flask-Security</a> for authentication.
      </p>
      {% if not current_user.is_authenticated %}
      <p>You can register as a regular user, or log in as a superuser with the following credentials: <br><br>

        email: <b>admin</b> <br>
        password: <b>admin</b> <br>
        <br>
        <p>
          <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">Register</a>
        </p>
        {% endif %}
        <br>
        <p>
          <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
        </p>
      </div>
    </section>
  </center>

  <br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br>
  {% endif %}

  {% endblock body %}
