{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    文件上传 
    <small>上传政策相关文稿</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Custom</li>
  </ol>
</section>

<section class="content">

  <div class="row">
    <!-- Left col -->
    <section class="container">      
      
            <html lang = "en">
            <center>
<!--             <title style="text-align:center ">上传文件</title> 
 -->        <h5 style="text-align:left,width:10%,font-size:14">选择上传的文稿，可多选</h5>
            <h5 style="text-align:left,width:10%,font-size:14">支持.html,pdf,txt,doc,docx的文件  文件大小不超过16MB</h5>
            <form action="" method=post enctype=multipart/form-data>
              <p><input type=file name=filelists multiple></p>
            <br>
            <HR style="border:3 solid" SIZE=3 align=center width="50%" SIZE=7></HR>
            <br>
            <h5 style="text-align:left,width:10%,font-size:14">选择含有文稿信息的.xlsx文件，只能单选</h5>
            <h5 style="text-align: center,width:50%,font-size:14">文件大小不超过16MB</h5>
            <form action="" method=post enctype=multipart/form-data>
                <p><input type=file name=excel></p>
            <br>
            <HR style="border:3 solid" SIZE=3 align=center width="50%" SIZE=7></HR>
            <br>
            <p><input type=submit value=Upload></p>
            </center>
            </form>
            </html>


    </section>
    <!-- /.Left col -->

  </div>
  <!-- /.row (main row) -->

</section>
<!-- /.content -->
{% else %}

<center>
  <section class="content" style="color: white">
    <div class="col-sm-12">
      <h1>Flask-Admin example</h1>
      <p class="lead">
        Authentication
      </p>
      <p>
        This example shows how you can use Flask-Admin in an admin template, <br> here I used AdminLTE and <a href="https://pythonhosted.org/Flask-Security/index.html" target="_blank">Flask-Security</a> for authentication.
      </p>
      {% if not current_user.is_authenticated %}
      <p>You can register as a regular user, or log in as a superuser with the following credentials: <br><br>

        email: <b>admin</b> <br>
        password: <b>admin</b> <br>
        <br>
        <p>
          <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">Register</a>
        </p>
        {% endif %}
        <br>
        <p>
          <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
        </p>
      </div>
    </section>
  </center>

  <br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br>
  {% endif %}

  {% endblock body %}
